
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", Sans-serif;
    font-weight: 400;
}

body {
    margin: 0;
    
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
}

header {
    background: #13274f;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    h1{
        font-family: "Montserrat", Sans-serif;
        font-size: 10px;
        font-weight: 700;
        color: #FFFFFF;
    }
    img{
        width: 16px;
        height: 16px;
        margin-right: 2px;
        padding-top: 3px;
    }
    
    
}

section {
    
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
}

/* Alternar as cores de fundo entre branco e cinza escuro */
section:nth-child(odd) {
    background-color: #ffffff;
    color: #333;
}
section:nth-child(even) {
    background-color: #070e1c;
    color: #ffffff;
}
/*========================================================*/

:root {
    --primary_cor: #FCFCFC;
    --second_cor: #333333;
    --third_cor: #13274f;
}
.contentContainer1{
    display: flex;
    width: 1000px;
    margin-bottom: 25px;
}

.textContainer1 h2 {
    font-size: 36px;
    font-family: Montserrat, sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    color: var(--primary_cor);
    margin-bottom: 15px;
}
.textContainer1 h3 {
    font-size: 26px;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    color: var(--primary_cor);
    margin-bottom: 10px;
}
.textContainer1 button {
    font-size: 18px;
    font-weight: bold;
    padding: 20px 60px;
    color: var(--primary_cor);
    width: 293px ;

}
/* Estilo para o botão */
#button_cta{
    animation: pulse 2s linear infinite;
    cursor: pointer;
}
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}
#button_cta, #button{
    font-family: "Montserrat", Sans-serif;
    font-size: 18px;
    font-weight: 700;
    background-color: transparent;
    background-image: linear-gradient(180deg, #39B54A 0%, #218B2F 100%);
    border-radius: 500px;
    padding: 20px 60px;
    border: none;
    color: #ffffff;
    cursor: pointer;
}
#button{
    transition: transform 0.6s ease
}
#button:hover{
    transform: scale(1.1)
}
.lastButton{
    margin-top: 10px;
}


#container1 {
    margin-bottom: -5px !important; /* Remove a margem inferior */
    height: 110vh;
}
#container1 {
    position: relative;
    min-height: 100%;
    min-width: 100%;
}
.imageContainer2 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: auto;
    height: auto;
}
.imageContainer2 img {
    display: block;
    width: auto;
    height: auto;
}


#container2{
    display: flex;
    flex-direction: column;
    height: 110vh;
    h2{
        color: #13274F;
    font-family: "Montserrat", Sans-serif;
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1.4em;
    }
}
.carousel-container {
    width: 100%;
    max-width: 1000px;
    overflow: hidden;
    position: relative;
    margin: 0 auto; /* Center the carousel */
}
.carousel {
    display: flex;
    transition: transform 0.5s ease;
}
.carousel img {
    width: 333px;
    height: 500px; 
    flex-shrink: 0;
}
#container3 {
    height: 110vh; /* Use auto para que a altura seja definida pelo conteúdo */
    padding: 50px;
    display: flex;
    flex-direction: column;
    position: relative; /* Adicione position: relative; para o container3 */
}
.imageContainer3 {
    position: absolute; /* Use position: absolute; para posicionar a imagem */
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
}
.imageContainer3 img {
    width: 110%;
    margin-top: -5px;
}
.container03 {
    display: flex;
    align-items: center; /* Para centralizar verticalmente o conteúdo */
}
.container03 img {
    width: 284px;
    border-style: solid;
    border-width: 5px;
    border-color: #13274F;
    border-radius: 200px;
    box-shadow: 0px 0px 100px 0px #13274F;
    vertical-align: middle;
    margin-right: 50px;
}
.textContainer3 {
    margin-top: 10px;
    width: 565px;
    flex-grow: 1; /* Para que a div textContainer3 ocupe o restante do espaço disponível na altura */
    margin-right: 100px;
}

#container4{
    height: 130vh;
}
.container04{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.containerBlocos{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.blocos{
    margin: 10px;
    padding: 5px;
    border: 2px solid red;
    height: 290px;
    width:290px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 20px;
}
.imageBloco{
    border: 2px solid rgb(14, 255, 26);
    height: 64px;
    width:64px
}
.titleBox{
    border: 2px solid rgb(14, 255, 26);
    height: 20px;
    width:250px;
    max-height: 40px;
}
.paragrafoBloco{
    border: 2px solid rgb(14, 255, 26);
    height: 90px;
    width:240px;
    max-height: 115px;

}

#container5{
    height: 130vh;
}
.container05{
    border: solid 2px red;
    background: var(--primary_cor);
    width: 580px;
    height: 564px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.imageContainer5 {
    border: solid 2px rgb(0, 4, 255);
    width: 540px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    
}
.line{
    border: solid 2px rgb(0, 4, 255);
    margin: auto;
    width: 540px;
    padding: auto;
    
    h2{
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1.4em;
    color: var(--third_cor) ;
    
   }
   
   h4{
    color: #1B1B1B70;
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: line-through;
    line-height: 1.4em;
   }
   h5{
    font-size: 20px;
    font-weight: bold;
    color: #1B1B1B;
    line-height: 1.4em;
   }
   h6{
    font-size: 86px;
    color: var(--third_cor);
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1.4em;
   }

    
}
.line span{
    background-color: #070e1c;
    font-weight: 800;
    color: #FCFCFC;
} 
.line1{
    height:  84px;
}
.line2{
    height: 34px;
}
.line3{
    height:28px ;
}
.line4{
    height: 120px;
}
.line5{
    height: 58px ;
}
.line6{
    height: 45px ;
    margin-bottom: 40px;
}

#container6{
    height: 80vh ;
}
.seloContainer{
    width: 900px;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;

}
.imageContainer6{
    width: 680px;
    height: 185px;
    border: 2px solid red;
}
.titleSelo{
    width: 675px;
    height: 42px;
    
}
.titleSelo h2 span{
    font-size: 24px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1.4em;
    color: var(--third_cor);
}
.paragrafSelo{
    width: 675px;
    height: 50px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4em;
}
#container7{
    background: #070e1c;
    height: 100vh;
}

.container07{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 725px;
    height: 485px;
}
/* Estilo para o accordion */
.accordion {
    background-color: var(--third_cor);
    width: 705px;
    padding: 10px;
    cursor: pointer;
    box-shadow: 5px 5px 5px rgba(136, 94, 94, 0.1);
    margin: 10px;
}

.accordion-header {
    width: 100%;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    cursor: pointer;
}

.accordion-header span {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #FCFCFC;
    font-size: 17px;
    font-weight: 600;
}

.accordion-body {
    color: #444;
    font-size: 14px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out, opacity 0.2s ease-out;
    opacity: 0;
}
.accordion-body p{
    color: #FCFCFC;
    font-size: 17px;
    margin: 30px 0px 14.4px;
    text-align: start;
}

.accordion-body.active {
    max-height: 230px;
    opacity: 1;
    padding: 5px 0;
}

.arrow {
    transition: transform 0.2s linear;
}

.accordion .active + .accordion-body {
    max-height: 230px;
    opacity: 1;
    padding: 5px 0;
}

.accordion:has(.active) .arrow {
    transform: rotate(180deg);
}
.iconAccordion img {
    height: 15px;
    width: 15px;
}